.root {
  position: relative;
  padding-bottom: 200px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    opacity: 0.15;
    background: repeating-linear-gradient(
      -45deg,
      #215f0e,
      #215f0e 3.5px,
      rgba(255, 255, 255, 0) 3.5px,
      rgba(255, 255, 255, 0) 20.5px
    );
    z-index: -1;
  }

  @media screen and (max-width: 1066px) {
    padding-bottom: 100px;
  }
}

.wrapper {
  margin: auto;
  height: 80vh;
  position: relative;

  @media screen and (max-width: 900px) {
    height: 750px;
  }
}

.canvasContainer {
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  max-width: $max-width;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;

  .firstCaption {
    text-align: right;
    width: 44%;
    margin-left: auto;
    margin-top: 80px;
  }

  .secondCaption {
    width: 50%;
  }

  h2 {
    font-size: 46px;
    font-weight: 300;
  }

  @media screen and (max-width: 1066px) {
    h2 {
      font-size: 36px;
    }

    .firstCaption {
      width: 70%;
    }
  }

  @media screen and (max-width: 800px) {
    h2 {
      font-size: 36px;
    }

    .firstCaption,
    .secondCaption {
      width: 100%;
      text-align: left;
      font-size: 30px;
    }
  }
}
