.root {
  width: 600px;
  background: rgb(233, 233, 233);
  position: relative;
  padding: 20px;
  border-radius: 10px;
  border: 4px solid $basic-green;
}

.closeButton {
  position: absolute;
  right: 2%;
  top: 4%;
  background: transparent;
  border: 0;
  cursor: pointer;
  transition: 0.2s ease-in;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 1;
    transition: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.headerCaption {
  margin-bottom: 20px;
  padding-right: 20px;
}

.questionCaption {
  margin-bottom: 4px;
}

.formItem_slider {
  :global(.ant-slider-track) {
    background: #3d6952 !important;
  }

  :global(.ant-slider-rail) {
    background: #b9babc32 !important;
  }

  :global(.ant-slider-handle:after) {
    box-shadow: 0 0 0 2.5px #3d6952 !important;
  }
}

.submitButton {
  font-family: 'Montserrat', Arial, sans-serif;

  &:hover {
    color: $basic-black;
  }
}
